
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'js/index.js' %}">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Ninja Gold!</title>

</head>
<body>
    <h1 class="center">Ninja Gold!</h1>

    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col card" style="width: 18rem;">
                <img src="static/img/farm.jpg" class="card-img-top" height="400px" alt=">farm">
                <div class="card-body">
                    <h5 class="card-title">La Granja</h5>
                    <p class="card-text">Descubre qué hay en la granja animal</p>
                    <form action="/juegos/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary">Prueba tu Suerte</button>
                    <input type="hidden" name="opcion" value="granja">
                    </form>
                </div>
            </div>
            <div class="col card" style="width: 18rem;">
                <img src="static/img/cueva.jpg" class="card-img-top" height="400px" alt="cave">
                <div class="card-body">
                    <h5 class="card-title">La Cueva</h5>
                    <p class="card-text">Descubre qué hay en la cueva</p>
                    <form action="/juegos/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary">Prueba tu Suerte</button>
                    <input type="hidden" name="opcion" value="cueva">
                    </form>
                </div>
            </div>
            <div class="col card" style="width: 18rem;">
                <img src="static/img/house.jpg" class="card-img-top" height="400px" alt="house">
                <div class="card-body">
                    <h5 class="card-title">La Casa</h5>
                    <p class="card-text">Descubre qué hay en la casa</p>
                    <form action="/juegos/" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary">Prueba tu Suerte</button>
                    <input type="hidden" name="opcion" value="casa">
                    </form>
                </div>
            </div>
            <div class="col card" style="width: 18rem;">
                <img src="static/img/casino.png" class="card-img-top" height="400px" alt="casino">
                <div class="card-body">
                    <h5 class="card-title">El Casino</h5>
                    <p class="card-text">Gana o pierde en el Casino</p>
                    <form action="/juegos/" method="post">
                        {% csrf_token %}
                    <button class="btn btn-primary">Prueba tu Suerte</button>
                    <input type="hidden" name="opcion" value="casino">
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt=5">
            <h3>Monedas obtenidas:{{request.session.contador}}</h3>
        </div>
        <div class="row mt=5">
            <a href="/reset/" class="btn btn-primary">Reset</a>
        </div>
    </div>


</body>
</html>
